
.wrapper {
  background: url('/bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.header {
  margin: 15px 0;
}

.image {
  cursor: pointer;
}

.main {
  padding-bottom: 100px;
}